*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(36, 50, 61);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 440px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.formRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

#address {
  color: white;
  align-self: flex-start;
  margin-left: 10px;
}

#submitBtn {
  background-color: rgb(26, 177, 136);
  color: white;
  text-transform: uppercase;
  border: none;
  width: 382px;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  outline: none;
}

#submitBtn:hover {
  background-color: rgb(50, 202, 162);
}

.input {
  border: 1px solid white;
  background-color: rgb(36, 50, 61);
  padding: 8px;
  width: 380px;
  color: white;
  outline: none;
}

#selectedFileInfo {
  color: white;
  font-weight: 300;
}

input[type="file"] {
  display: none;
}

.fileUpload {
  text-align: center;
  cursor: pointer;
  background-color: rgb(67, 82, 89);
  text-transform: uppercase;
  border: none;
  width: 191px;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
}

.fileUpload:hover {
  background-color: rgb(83, 98, 106);
}

#selectFile {
  font-weight: 300;
}
